.vscode/
Makefile
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
pioasm/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
printflash.elf.map
build/
wecker.bin
wecker.dis
wecker.elf*
wecker.hex
wecker.uf2
PicoTM1637.pio.h
pico_flash_region.ld
build.ninja
bs2_default.elf.map
.ninja_log
.ninja_deps
