.vscode/
Makefile
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
pioasm/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
printflash.elf.map
build/
wecker.bin
wecker.dis
wecker.elf*
wecker.hex
wecker.uf2
